a {
  cursor: pointer;
  outline: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.left_col {
  width: 25%;
  float: left;
}
.right_col {
  width: 75%;
  float: left;
}
table.variants {
  border: 0;
}
table.variants thead th {
  height: 57px;
  color: #fff;
  font-weight: normal;
  border: 0 !important;
  vertical-align: middle;
}
table.variants thead tr {
  background: #a1b5be;
}
table.variants tbody tr {
  background-color: #f5f7f8;
  color: #333;
}
table.variants tbody tr:nth-child(even) {
  background-color: #eff5f6;
}
table.variants td {
  border: 0 !important;
  border-bottom: 1px solid #deebed !important;
  height: 37px;
}
#schedule {
  width: auto;
  position: relative;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-top: 0;
}
#schedule th {
  border: 0;
  text-align: center;
  background: #5e7d8c;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
#schedule th .dayOfWeek {
  text-transform: none;
  font-size: 11px;
  color: #849ca7;
}
#schedule th .dayInMonth {
  font-size: 11px;
}
#schedule .dayList {
  height: 21px;
}
#schedule .dayList th {
  background: #476777;
  padding: 0;
}
#schedule td {
  min-width: 60px;
  position: relative;
  padding: 0;
  height: 37px;
  border: 0;
  border-bottom: 1px solid #deebed;
}
#schedule td:after {
  content: ' ';
  position: absolute;
  right: 0;
  width: 1px;
  top: 2px;
  bottom: 1px;
  background-color: #a7bcc6;
}
#schedule .label-td {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  min-width: 100%;
  margin: 6px 0;
  border: 1px solid #fff;
}
#schedule .label-td.earlyin {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#schedule .label-td.earlyin:before {
  position: absolute;
  content: ' ';
  top: 0;
  bottom: 0;
  left: -15px;
  width: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 2px solid #f05c1b;
}
#schedule .label-td.laterout {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#schedule .label-td.laterout:after {
  position: absolute;
  content: ' ';
  top: 0;
  bottom: 0;
  right: -15px;
  width: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 2px solid #f05c1b;
}
#schedule .label-td > span {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
}
.label-td {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 20px;
  text-align: left;
}
.label-td-green {
  background: #6eba44;
}
.label-td-green:after {
  background-color: #6eba44;
}
.label-td-green:before {
  background-color: #6eba44;
}
.label-td-blue {
  background: #00bede;
}
.label-td-blue:after {
  background-color: #00bede;
}
.label-td-blue:before {
  background-color: #00bede;
}
.label-td-yellow {
  background: #ffc30b;
}
.label-td-yellow:after {
  background-color: #ffc30b;
}
.label-td-yellow:before {
  background-color: #ffc30b;
}
.label-td-red {
  background: #f05c1b;
}
.label-td-red:after {
  background-color: #f05c1b;
}
.label-td-red:before {
  background-color: #f05c1b;
}
.limiter {
  overflow: hidden;
  width: 100%;
}
.edit .title_create {
  display: none;
}
.create .title_edit {
  display: none;
}
.create .action_remove {
  display: none;
}
.tooltipList li {
  margin-bottom: 20px;
}
.tooltipList .label {
  width: 50px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.tooltipList .icon-employee {
  background: url("../img/by_employee.png") left center no-repeat;
  padding-left: 20px;
}
.tooltipList .icon-site {
  background: url("../img/by_site.png") left center no-repeat;
  padding-left: 20px;
}
.tooltipList .icon-agent {
  background: url("../img/by_agent.png") left center no-repeat;
  padding-left: 20px;
}
.today {
  background: #fff7ef;
}
